<form>
  Attendees: <input type="text" name="fname">
  Start Time: <input type="text" id="start_date_picker">
  End Time: <input type="text" id="end_date_picker">

  <button id="submit_button" type="button">Submit</button>

<!--       Attendee: <input type="text" id="addName" value"addValue">
      <button id="addButton" type="button" onclick="addbtn()">add</button> -->
     

      <select id="status" onchange="colorStatus()">
        <option value="green">available</option>
        <option value="red">busy</option>
      </select>
      &nbsp;

      <button type="button" onclick="colorStatus()">Submit</button>
  </form>
