<form>
  Attendees: <input type="text" name="fname">
  Start Time: <input type="text" id="start_date_picker">
  End Time: <input type="text" id="end_date_picker">

  <button id="submit_button" type="button">Submit</button>
</form>
