<form>
  Attendee: <input id="add_email" type="text" value="enter email">
  <button id="add_button" type="button">add</button>

  &nbsp;

  Start Time: <input type="text" id="start_date_picker">

  &nbsp;

  End Time: <input type="text" id="end_date_picker">

  <button id="submit_button" type="button">Submit</button>

  </form>
