<h2>The PeopleAdmin Meeting Booker Tool</h2>

<div class="sidebar">
  <h3>Meeting Requirements:</h3>
  <%= erb :form %>
</div>

<div class="emails">
  <h3 id='travishooperpeopleadmincom'>travis.hooper@peopleadmin.com</h3>
  <h3 id='thooperpeopleadmincom'>thooper@peopleadmin.com</h3>
  <h3 id='somerandomjoecom'>somerandom@joe.com</h3>
  <h3 id='parkeryoungpeopleadmincom'>parker.young@peopleadmin.com</h3>
</div>
<div class="container">
    <img id="img" src="/images/bookerAUS.png">
    <div class="key" >
      <h3>Room Key:</h3>
      <ul>
        <li>1 - Big 12</li>
        <li>2 - City Limits</li>
        <li>3 - The Quad</li>
        <li>4 - ACC</li>
        <li>5 - Big 10</li>
        <li>6 - SEC</li>
        <li>7 - Big East</li>
        <li>8 - State Capital</li>
        <li>9 - County Line</li>
        <li>10 - WAC</li>
        <li>11 - HRSuite</li>
      </ul>
    </div>
    <div id="rooms">
      <div id="room1" class="red" value="1">1</div>
      <div id="room2" class="red" value="1">2</div>
      <div id="room3" class="red" value="2">3</div>
      <div id="room4" class="red" value="1">4</div>
      <div id="room5" class="green" value="1">5</div>
      <div id="room6" class="green" value="2">6</div>
      <div id="room7" class="green" value="2">7</div>
      <div id="room8" class="green" value="1">8</div>
      <div id="room9" class="green" value="2">9</div>
      <div id="room10" class="green" value="1">10</div>
      <div id="room11" class="green" value="2">11</div>
    </div>
</div>
