<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<h2>The PeopleAdmin Meeting Tool</h2>


<div class="sidebar">
  <h3>Meeting Requirements:</h3>
  <%= erb :form %>
</div>

<div class="container">
    <img id="img" src="/images/bookerAUS.png">
    <div class="key" >
      <h3>Room Key:</h3>
      <ul id="roomkey">
        <li>1 - Big 12</li>
        <li>2 - City Limits</li>
        <li>3 - The Quad</li>
        <li>4 - ACC</li>
        <li>5 - Big 10</li>
        <li>6 - SEC</li>
        <li>7 - Big East</li>
        <li>8 - State Capital</li>
        <li>9 - County Line</li>
        <li>10 - WAC</li>
      </ul>
    </div>

    <div class="emails">
      <h3>Attendees:</h3>
        <ul id="attendees">
      </ul>
    </div>

    <div id="rooms">
      <div data-email="conf402@peopleadmin.com" id="conf402peopleadmincom" value="1">1</div>
      <div data-email="conf404@peopleadmin-com.domainlocalhost.com" id="conf404peopleadmin-comdomainlocalhostcom" value="1">2</div>
      <div data-email="confquad@peopleadmin-com.domainlocalhost.com" id="confquadpeopleadmin-comdomainlocalhostcom" value="2">3</div>
      <div data-email="conf414@peopleadmin.com" id="conf414peopleadmincom" value="1">4</div>
      <div data-email="conf413@peopleadmin.com" id="conf413peopleadmincom" value="1">5</div>
      <div data-email="conf415@peopleadmin-com.domainlocalhost.com" id="conf415peopleadmin-comdomainlocalhostcom" value="2">6</div>
      <div data-email="conf416@peopleadmin-com.domainlocalhost.com" id="conf416peopleadmin-comdomainlocalhostcom" value="2">7</div>
      <div data-email="conf418@peopleadmin-com.domainlocalhost.com" id="conf418peopleadmin-comdomainlocalhostcom" value="1">8</div>
      <div data-email="conf423@peopleadmin-com.domainlocalhost.com" id="conf423peopleadmin-comdomainlocalhostcom" value="2">9</div>
      <div data-email="conf435@peopleadmin-com.domainlocalhost.com" id="conf435peopleadmin-comdomainlocalhostcom" value="1">10</div>
    </div>
</div>

<button id="schedule_meeting_button" style="display:none" type="button">Book This Meeting</button>
